<ifModule mod_rewrite.c>
RewriteEngine on
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]

<FilesMatch "(\.(bak|config|sql|fla|psd|ini|sh|inc|swp|dist|txt|json|br|tpl)|~)$">
 Order allow,deny	
 Deny from all
 Satisfy All
</FilesMatch>